<div th:fragment="top-navigation"
	xmlns:th="http://www.w3.org/1999/xhtml">
	<div class="header-top-wrapper-2 border-bottom-2">
		<div class="header-info-wrapper col-lg-12">
			<div class="row header-contact-info header-contact-info2 col-lg-12">
				<div class="col-xs-5">
					<ul th:each="ct : ${contact}">
						<!-- pl-200 pr-200 -->
						<li th:each="tp : ${ct.telephone}" th:if="${tp.hotLine == 'Y'}"><i
							class="pe-7s-call"></i><a th:href="${'tel: ' + tp.phoneNumber}"
							th:text="${tp.phoneNumber}"></a></li>
						<li><i class="pe-7s-mail"></i> <a
							th:href="${'mailto:' + ct.email}" th:text="${ct.email}"></a></li>
					</ul>
				</div>
				<!-- <div class="col-lg-8">
					<marquee direction="right">Thietbikhangan.vn Xin Kính
						Chào Quý Khách.</marquee>
				</div> -->
			</div>
		</div>
	</div>
	<div class="header-bottom clearfix">
		<div class="header-bottom-wrapper pr-200 pl-200"
			style="align-items: baseline;">
			<div class="col-lg-2 logo-3">
				<a href="/home-page"> <img
					src="https://thietbikhangan.vn/upload/hinhanh/logo-4621.png" alt="">
				</a>
			</div>
			<div class="col-lg-8">
				<div
					class="categories-search-wrapper categories-search-wrapper2 col-lg-12"
					style="height: fit-content; display: block;">
					<div class="categories-wrapper">
						<input type="hidden" id="suggestSearch"
							th:attr="value = ${keywords}">
						<form action="#" th:action="@{/category-product-page}"  method="get">
							<input placeholder="Enter Your key word" type="text"  name="keyword" id="search" required="required"
								style="width: 100%">
							<div class="button-search">
								<button type="submit">
									<img alt="" th:src="@{/images/icons/search-icon.png}" />
								</button>
								<button type="button" onclick="actionScanQRCode()">
									<img alt="" th:src="@{/images/icons/qr-code.png}" />
								</button>
							</div>
						</form>
					</div>
				</div>
				<div class="search-list responsive-autocomplete col-lg-12"
					style="display: none;">
					<ul class="scrollable"></ul>
				</div>
			</div>
			<div class="col-lg-2 header-cart-3">
				<a th:href="@{/cart-page}" class="cart-number"> <i
					class="ti-shopping-cart"></i>Giỏ hàng <span
					th:if="${session.sizeCartItem}" th:text="${session.sizeCartItem}"></span>
					<span th:unless="${session.sizeCartItem}">0</span>
				</a>
				<ul th:unless="${disabled}" class="cart-dropdown">
					<li class="single-product-cart" th:each="key: ${session.cartItem}">
						<div class="cart-img">
							<a href="#"><img src="assets/img/cart/3.jpg" alt=""></a>
						</div>
						<div class="cart-title">
							<h5 th:if="${key !=null}">
								<a
									th:href="@{/detail-page(id=${key['value'].products.getProductCode()})}"
									th:text="${key['value'].products.getProductName()}"></a>
							</h5>
							<span th:if="${key['value'].products.getPriceDiscount() <=0}"
								th:text="${#numbers.formatInteger(key['value'].products.getPrice(),1,'POINT')+ 'đ'+' X '+ key['value'].quantities}"></span>
							<span th:unless="${key['value'].products.getPriceDiscount() <=0}"
								th:text="${#numbers.formatInteger(key['value'].products.getPriceDiscount(),1,'POINT')+ 'đ'+' X '+ key['value'].quantities}"></span>
						</div>
						<div class="cart-delete">
							<a href="#"
								th:if="${key['value'].products.getPriceDiscount() <=0}"
								th:class="${key['value'].products.getProductCode() + ' ' + key['value'].products.getPrice() + ' ' + key['value'].quantities +' removeCart'}"><i
								class="ti-trash"></i></a> <a href="#"
								th:unless="${key['value'].products.getPriceDiscount() <=0}"
								th:class="${key['value'].products.getProductCode() + ' ' + key['value'].products.getPriceDiscount()+ ' ' + key['value'].quantities +' removeCart'}"><i
								class="ti-trash"></i></a>
						</div>
					</li>
					<li class="cart-space">
						<div class="cart-sub">
							<h4>Tổng Tiền</h4>
						</div>
						<div class="cart-price">
							<h4 th:if="${session.totalPrice}"
								th:text="${#numbers.formatInteger(session.totalPrice,1,'POINT')+ 'đ'}"></h4>
							<h4 th:unless="${session.totalPrice}">0đ</h4>
						</div>
					</li>
					<li class="cart-btn-wrapper"><a class="cart-btn btn-hover"
						th:href="@{/cart-page}">Xem giỏ hàng</a></li>
				</ul>
			</div>
			<div class="mobile-menu-area mobile-menu-none-block electro-2-menu">
				<div class="mobile-menu">
					<nav id="mobile-menu-active">
						<ul class="menu-overflow">
							<li><a href="#">Danh Mục</a>
								<ul>
									<li th:each="categ2, iStat : ${category2}"><a
										th:href="${categ2.pathUrl}" th:text="${categ2.description}"></a></li>
								</ul></li>
							<li th:each="menuItem, iStat : ${menuItems}"><a
								th:href="${menuItem.pathUrl}" th:text="${menuItem.description}"><span
									th:if="${iStat.index == '0'}" class="sticker-new">hot</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- header end -->
	<div class="categori-menu-wrapper2 clearfix">
		<div class="pl-200 pr-200">
			<div class="categori-style-2 ">
				<div class="category-heading-2 category-left-1">
					<h3>
						<i class="pe-7s-menu pe-fw"></i>&nbsp;&nbsp;&nbsp;Danh Mục
					</h3>
					<div class="category-menu-list" style="display: none;">
						<ul>
							<li th:each="categ2, iStat : ${category2}"><a
								th:href="${categ2.pathUrl + '?&category=' + categ2.category2Id}"><img
									alt="" th:src="@{/images/icons/15.png}"><span
									th:text="${categ2.description}"></span><i
									class="pe-7s-angle-right"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="menu-style-4 menu-hover">
				<nav>
					<ul>
						<li th:each="menuItem, iStat : ${menuItems}"><a
							th:href="${menuItem.pathUrl}" th:text="${menuItem.description}"><span
								th:if="${iStat.index == '0'}" class="sticker-new">hot</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- Navigation -->
	<nav th:if="${bCrumbDisaled == null}" aria-label="breadcrumb">
		<ol class="breadcrumb breadcrumb-product">
			<li th:if="${menuItem != null}" class="breadcrumb-item"><a
				th:href="${menuItem.getPathUrl()}"><i
					th:text="${menuItem.getDescription()}"></i></a></li>
			<li th:if="${allProduct != null}" class="breadcrumb-item active"
				aria-current="page"><a href="/category-product-page"><i>Tất
						cả sản phẩm</i></a></li>
			<li th:if="${trading !=null}" class="breadcrumb-item"><a
				th:href="${trading.getPathUrl() + '?&trading=' + trading.getCategory1Id()}"
				th:text="${trading.getDescription()}"><i></i></a></li>
			<li th:if="${category != null}" class="breadcrumb-item"><a
				th:href="${category.getPathUrl() + '?&category=' + category.getCategory2Id()}"><i
					th:text="${category.getDescription()}"></i></a></li>
			<li th:if="${product !=null}" class="breadcrumb-item active"
				aria-current="page"><i th:text="${product.productName}"></i></li>
			<li th:if="${contact_bc != null}" class="breadcrumb-item active"
				aria-current="page"><i
				th:text="${contact_bc.getDescription()}"></i></li>
		</ol>
	</nav>
	<!-- Modal -->
	<div class="modal fade" id="QRCodeModal" tabindex="-1" role="dialog"
		aria-labelledby="QRCodeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="QRCodeModalLabel">Scan Your QR Code</h5>
					<button type="button" class="close" data-dismiss="modal" id="button-x"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body modal-QRCode">
					<video width="100%" height="100%"id="preview"></video>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" id="button-close"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>