<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<head>
<title>Shop Homepage - Start Bootstrap Template</title>
</head>

<body>

	<div class="container-fluid" layout:fragment="content">
		<div class="row">
			<div th:replace="fragments/carousel :: carousel"></div>
			<div th:replace="fragments/slick-slider :: slick-slider"></div>
		</div>
		<div class="section-title-4 text-center mb-45">
			<h2>Top Sản Phẩm Bán Chạy</h2>
		</div>
		<div class="box-module" th:each="key: ${prodHomePage}">
			<div class="title-product-tabs group-title toolbar toolbar-products">
				<ul class="tab">
					<li class="active"><a th:href="${key['value'].category2.getPathUrl() + '?&category=' + key.key}"><strong
							style="font-size: initial;" th:text="${key['value'].category2.getDescription()}">Thang Nhôm Bán Chạy</strong></a></li>
				</ul>
				<ul class="pagination page-next-prev"
					style="position: absolute; top: 8%; right: 1%;">
					<li class="page-item"><a th:class="${'page-link btn-next-' + key.key}" href="#"
						aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
					</a></li>

					<li class="page-item"><a th:class="${'page-link btn-prev-' + key.key}" href="#"
						aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span
							class="sr-only">Next</span>
					</a></li>
				</ul>
			</div>
			<div class="owl-container">
				<div th:id="${'owl-' + key.key}" class="owl-carousel owl-theme">
					<div class="item" th:each="product : ${key['value'].products}">
						<div class="card h-100">
							<div class="label-pro-sale">
								<span th:text="${'giảm -'+product.percentageDiscount} +'%'"></span>
							</div>
							<a th:href="@{/detail-page(id=${product.productCode})}"><img
								src="https://www.thegioithangnhom.com/data/bt7/thang-nhom-chu-m-tw-dai-loan-pal-b6-165.jpg" /></a>
							<div class="card-body">
								<h2 class="product-name">
									<a th:href="@{/detail-page(id=${product.productCode})}" th:text="${product.productName}"></a>
								</h2>
								<h6 th:text="${#numbers.formatInteger(product.priceDiscount,3,'POINT')+ 'đ'}"></h6>
								<a class="button-small" href="javascript:void(0);" th:attr="onclick='shoppingCart(\''+${product.productCode}+'\')'"><span>Mua ngay</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
